<div class="container businessByIdTemplate">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">

      <h3>{{business.name}}</h3>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Contact</h3>
        </div>
        <div class="panel-body">
          <p><b>Phone</b>: {{business.phone}}</p>
          <p><b>Email</b>: {{business.email}}</p>
          <p><b>Website</b>: <a href="" target="_blank">{{business.website}}</a></p>
          <p><b>Address</b>: {{business.address1}}, {{business.city}}, {{business.state}} {{business.zip}}</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
          <p><b>Industry</b>: {{business.type}}</p>
          <p><b>Date Opened</b>: {{business.date_opened}}</p>
          <p><b>Date Closed</b>: {{business.date_closed}}</p>
          <p><b>Good Standing?</b>: <span ng-show="business.good_standing">Yes</span><span ng-hide="business.good_standing">No</span></p>
          <p><b>Description</b>: {{business.description}}</p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Internal Notes</h3>
        </div>
        <div class="panel-body">
          <p ng-repeat="comment in commentArray"><b>{{comment.username}}</b>: {{comment.notes}}</p>
          <a class="btn btn-default btn-sm" href="#" role="button" data-toggle="modal" data-target="#notes"><i class="fa fa-plus-circle"></i>&nbsp; Add Note</a>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Owner(s)</h3>
        </div>
        <div class="panel-body">
          {{business.first_name}} {{business.last_name}}
        </div>
      </div>

      <!-- Edit Business Modal -->
      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Business Edit</h4>
            </div>
            <div class="modal-body">

              <form>
                <div class="form-group">
                  <label for="businessName">Business Name</label>
                  <input id="businessName" type="text" ng-model="business.name">
                </div>
                <div class="form-group">
                  <label for="businessPhone">Phone</label>
                  <input id="businessPhone" type="text" ng-model="business.phone">
                </div>
                <div class="form-group">
                  <label for="businessEmail">Email</label>
                  <input id="businessEmail" type="text" ng-model="business.email">
                </div>
                <div class="form-group">
                  <label for="businessWebsite">Website</label>
                  <input id="businessWebsite" type="text" ng-model="business.website">
                </div>
                <div class="form-group">
                  <label for="businessAddress1">Address</label>
                  <input id="businessAddress1" ng-model="business.address1" type="text">
                </div>
                <div class="form-group">
                  <label for="businessCity">City</label>
                  <input id="businessCity" name="editBusinessForm.city" type="text" ng-model="business.city">
                </div>
                <div class="form-group">
                  <label for="businessState">State</label>
                  <input id="businessState" name="editBusinessForm.state" type="text" ng-model="business.state">
                </div>
                <div class="form-group">
                  <label for="businessZip">Zip</label>
                  <input id="businessZip" type="text" ng-model="business.zip">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option selected value="business.type">{{business.type}}</option>
                    <option disabled="">-----</option>
                    <option ng-repeat="industry in industries | orderBy:'type'" ng-model="industry.type">{{industry.type}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="dateOpened">Date Opened</label>
                  <input id="dateOpened" type="text" ng-model="business.date_opened">
                </div>
                <div class="form-group">
                  <label for="dateClosed">Date Closed</label>
                  <input id="dateClosed" type="text" ng-model="business.date_closed">
                </div>
                <fieldset class="form-group">
                  <legend>Is In Good Standing</legend>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="business.good_standing" ng-value="true" ng-checked="business.good_standing === true"> In Good Standing
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="business.good_standing" ng-value="false" ng-checked="business.good_standing === false"> Not In Good Standing
                    </label>
                  </div>
                </fieldset>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea id="exampleTextarea" rows="3">{{business.description}}</textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" ng-click="editBusiness()" data-dismiss="modal">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Note Modal -->
      <div class="modal fade" id="notes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Add a Note</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="description">Notes</label>
                <textarea id="exampleTextarea" rows="3" ng-model="newNote"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="postNote()" data-dismiss="modal">Add Note</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <a class="btn btn-primary" href="" role="button" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil"></i>&nbsp; Edit</a>
      <a class="btn btn-primary" href="/" role="button"><i class="fa fa-home"></i>&nbsp; Back</a>

    </div>
  </div>
</div>
