<div class="row container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h3>Search Business Database</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-6">
        <ul class="nav nav-pills navbar-right">
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
              City <span class="caret"></span>
            </a>
            <ul class="dropdown-menu ">
              <li><a href="#">All</a></li>
              <li class="divider"></li>
              <li><a href="#">Accounting</a></li>
              <li><a href="#">Advertising</a></li>
              <li><a href="#">Agriculture</a></li>
              <li><a href="#">Communications</a></li>
              <li><a href="#">Information Technology</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav nav-pills navbar-right">
          <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
              Industry <span class="caret"></span>
            </a>
            <ul class="dropdown-menu ">
              <li><a href="#">All</a></li>
              <li class="divider"></li>
              <li><a href="#">Accounting</a></li>
              <li><a href="#">Advertising</a></li>
              <li><a href="#">Agriculture</a></li>
              <li><a href="#">Communications</a></li>
              <li><a href="#">Information Technology</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
        </ul>
        <!-- <div class="form-group">
          <select name="state" class="form-control" id="state">
            <option selected disabled>Filter by Industry</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div> -->
      </div>
    </div>
